h1 {
     font-family: 'Times New Roman', Times, serif;
     background-color: darkseagreen;
     margin-bottom: 5%;
     margin-top: 5%;
     }
p {
    font-family: Arial, Helvetica, sans-serif;
}
#imgLuffy{
    text-align: left;
}